<h1><%=  @task.title %></h1>

<div class="textbox-grey"> <%= @task.details %> </div>

<div>
  <input type='checkbox' <% if @task.completed %> checked="" <%end %>>
  This task is <% if !@task.completed %>in<% end %>complete
</div>
<hr>

<%= link_to "Back to list", tasks_path %>
